<ion-header>
  <ion-toolbar>
    <ion-title>
      My Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="profile-card">
    <ion-card-header>
      
      <img src="assets/img/minha_foto.jpg" alt="Minha Foto" class="profile-pic" />
    </ion-card-header>

    <ion-card-content>
      
      <ion-card-title>Jean Fortes de oliveira</ion-card-title>
      <ion-card-subtitle>22201433</ion-card-subtitle>
    </ion-card-content>
    <ion-button href="https://github.com/FortesJean/avalia-o/tree/master"  target="_blank" >
      <ion-icon name="logo-github" slot="start" class="icon"></ion-icon >
      GitHub
    </ion-button>
  </ion-card>
</ion-content>

